.border {
  border: 1px solid red;
}
.flex {
  display: flex;
}
.content-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-grey {
  background-color: #121212;
  color: #ffff;
}
.invert {
  filter: invert(1);
}
.p-1 {
  padding: 10px;
}
.m-1 {
  margin: 7px;
}
.rounded {
  border-radius: 7px;
}
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* thumb color */
  border-radius: 5px; /* rounded edges */
  border: 2px solid #1a1a1a; /* creates space effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* thumb on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* thin or auto */
  scrollbar-color: #444 #1a1a1a; /* thumb track */
}
